body {
  margin: 0;
  font-family: 'Mandali', sans-serif;
  font-size: 16px;
}
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  list-style-type: none;
}
nav ul a {
  display: block;
  text-decoration: none;
  color: #6c757d;
  font-weight: 500;
  line-height: 26px;
}
nav ul a:hover {
  color: #1ce1ac;
}
main {
  padding-top: 100px;
}
.home h1 {
  color: #343a40;
  font-size: 60px;
  font-weight: 700;
}
.home img {
  width: 996px;
}
